.di>img {
    border: 1px solid black;
    width: 10%;
    height: 140px;
    text-align: center;
    cursor: pointer;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control {
    border-radius: 1.5rem;
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.del {
    background: #0062cc;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 2px;
}

.del:hover {
    background: #cc0e009f;
    color: #fff;
    border: none;
}

.Edit {
    background: #0062cc;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}

.Edit:hover {
    background: #cc0e009f;
    color: #fff;
    border: none;
}

.div {
    padding: 10px;
}

.div>img {
    width: 22%;
    height: 300px;
}
